<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>sessionCreateServlet</servlet-name>
        <servlet-class>sessionCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientServlet</servlet-name>
        <servlet-class>AC.PatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPatientDataServlet</servlet-name>
        <servlet-class>Doctor.getPatientDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadDocsServlet</servlet-name>
        <servlet-class>AC.uploadDocsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSessionSerlvet</servlet-name>
        <servlet-class>Tech.addSessionSerlvet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadFile</servlet-name>
        <servlet-class>Doctor.downloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDocumentFiles</servlet-name>
        <servlet-class>Tech.getDocumentFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPatientDocServlet</servlet-name>
        <servlet-class>Tech.getPatientDocServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDataByParamServlet</servlet-name>
        <servlet-class>Doctor.getDataByParamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFilesServlet</servlet-name>
        <servlet-class>Admin.AdminFilesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPriceTagsServlet</servlet-name>
        <servlet-class>getPriceTagsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getGraphData</servlet-name>
        <servlet-class>Doctor.getGraphData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPathoServlet</servlet-name>
        <servlet-class>Tech.addPathoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userMasterServlet</servlet-name>
        <servlet-class>Admin.userMasterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sessionCreateServlet</servlet-name>
        <url-pattern>/sessionCreateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientServlet</servlet-name>
        <url-pattern>/AC/PatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPatientDataServlet</servlet-name>
        <url-pattern>/Doctor/getPatientDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadDocsServlet</servlet-name>
        <url-pattern>/AC/uploadDocsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSessionSerlvet</servlet-name>
        <url-pattern>/Tech/addSessionSerlvet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadFile</servlet-name>
        <url-pattern>/Doctor/downloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDocumentFiles</servlet-name>
        <url-pattern>/Tech/getDocumentFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPatientDocServlet</servlet-name>
        <url-pattern>/Tech/getPatientDocServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDataByParamServlet</servlet-name>
        <url-pattern>/Doctor/getDataByParamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFilesServlet</servlet-name>
        <url-pattern>/Admin/AdminFilesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPriceTagsServlet</servlet-name>
        <url-pattern>/getPriceTagsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getGraphData</servlet-name>
        <url-pattern>/Doctor/getGraphData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPathoServlet</servlet-name>
        <url-pattern>/Tech/addPathoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userMasterServlet</servlet-name>
        <url-pattern>/userMasterServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
